{% extends 'flatpages/default.html' %}

{% load custom_filters %}

{% block title %}
Posts
{% endblock title %}

{% block content %}
    {% if is_not_subscriber %}
    <p class="text-center"><a href="{% url 'subscribe' category.id %}" class="btn btn-secondary btn-sm">Подписаться</a></p>
    {% else %}
    <p class="text-center"><a href="{% url 'unsubscribe' category.id %}" class="btn btn-secondary btn-sm">Отписаться</a></p>
    {% endif %}
    <h1>Все посты категории "{{ category }}"</h1>
    <h2>Кол-во: {{ category_post_list|length }}</h2>
    <hr>
    {% if perms.news_site.add_post %}
    <a href="{% url 'post_create' %}">Добавить пост</a>
    {% endif %}
    {% if category_post_list %}
        <table>
            <tr>
                <td>Тип</td>
                <td>Заголовок</td>
                <td>Категории</td>
                <td>Дата публикации</td>
                <td>Превью</td>
                {% if perms.news_site.change_post or perms.news_site.delete_post %}
                <td>Действия</td>
                {% endif %}
            </tr>
            {% for post in category_post_list %}
            <tr>
                <td>{{ post.categoryType }}</td>
                <td>
                    <a href="{% url 'post_detail' post.id %}">{{ post.head|censor }}</a>
                </td>
                <td>
                    {% for category in post.category.all %}
                    <a href="{% url 'category_list' category.id %}">{{ category }}</a>
                    {% endfor %}
                </td>
                <td>{{ post.time_add|date:'d.M.Y' }}</td>
                <td>{{ post.body|truncatewords:20|censor }}</td>
                <td>
                    {% if perms.news_site.change_post %}
                    <a href="{% url 'post_update' pk=post.id %}">Изменить</a>
                    {% endif %}
                    {% if perms.news_site.delete_post %}
                    <a href="{% url 'post_delete' post.id %}">Удалить</a>
                    {% endif %}
                </td>
            </tr>
            {% endfor %}
        </table>
    {% else %}
        <h2>Постов нет!</h2>
    {% endif %}
    {# Информация о предыдущих страницах #}
    {% if page_obj.has_previous %}
        <a href="?page=1">1</a>
        {% if page_obj.previous_page_number != 1 %}
            ...
            <a href="?page={{ page_obj.previous_page_number }}">{{ page_obj.previous_page_number }}</a>
        {% endif %}
    {% endif %}

    {# Информация о текущей странице #}
    {{ page_obj.number }}

    {# Информация о следующих страницах #}
    {% if page_obj.has_next %}
        <a href="?page={{ page_obj.next_page_number }}">{{ page_obj.next_page_number }}</a>
        {% if paginator.num_pages != page_obj.next_page_number %}
            ...
            <a href="?page={{ page_obj.paginator.num_pages }}">{{ page_obj.paginator.num_pages }}</a>
        {% endif %}
    {% endif %}
{% endblock content %}